# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary text files
__tmp__*.txt

# Mac
.DS_Store

# IGNORE everything under these directories
**/build
**/.vscode

# INCLUDE everything under these directories -- list this at the very bottom
!dependencies/*

#EOF
